*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // @include respond(tablet) {
  //   font-size: 56.25%;
  // }
}

body {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;

  @include respond(xs) {
    padding: 0 1rem;
  }

  &--sm {
    max-width: 110rem;
  }

  &--lg {
    max-width: 118rem;
  }
}

.p {
  margin-bottom: .5rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.oko-enter-active, .oko-leave-active {
  transition: opacity 5s;
}
.oko-enter, .oko-leave-to {
  opacity: 0;
}